.navbar-transparent {
  background-color: transparent;
  border-color: transparent;
}

#vis {
}

#people {
  padding: 4em 0 4em;
}

/* custom register class */
.register {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  margin-top: 4em;
}

.register-header {
  margin-bottom: 1em;
}

.register-footer  {
  margin-top: 1em;
}

/* custom card class */
.card-lead {
  text-align: center;
  color: #4d4d4d;
}

.card .text-muted {
  color: #fff
}

.card {
  border-radius: 5px;
  border: 1px solid #000;
  margin: 0 1em 2em 1em;
  background: #a9a9a9;
  color: #0b0b0b;
  padding: 10px 10px 10px 10px;
}

.card-img {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-desc {
  padding: 10px 0px 5px;
}

.card-view {
  text-align: center;
}

.card img {
  border: 1px solid #000;
  width: 100%;
  height: 100%;
}

/* custom footer class */
footer {
  margin:5em 0
}

footer li {
  float: left;
  margin-right: 1.5em;
  margin-bottom: 1.5em;
}

footer p {
  clear: left;
  margin-bottom:0;
}
